<div class="card" style="width: 300px; height: 300px;">
    <div class="card-body">
        <h2 class="card-title">Product Detail</h2>
        <p><b>Product Id</b> : {{product?.productId}}</p>
        <p><b>Product Name</b> : {{product?.productName}}</p>
        <p><b>Product Unit</b> : {{product?.productUnit}}</p>
        <p><b>PurchaseRate</b> : {{product?.purchaseRate}}</p>
        <p><b>SaleRate</b> : {{product?.saleRate}}</p>
    </div>
</div>

<button mat-raised-button mat-dialog-close="">Close</button>